@media only screen and ( max-width: $bp-xs ) { 
  
  .phone__title {
    font-size: 1.6rem !important;
  }
  
  .info__title {
    font-size: 1.6rem !important;
  }
}

@media only screen and ( max-width: $bp-sm ) { 
  
  .footer__logo {
    margin-bottom: 40px;
  }
  
  .demo .card {
    padding: 30px 10px !important;
    position: static !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  
  .card__arrow {
    display: none;
  }
}

@media only screen and ( max-width: $bp-md ) { 
  //
}

@media only screen and ( max-width: $bp-lg ) { 
  //
}
