// COLORS
// -------------------------
$white: #fff;
$blue-light: #662eff;
$blue: #8b61ff;
$blue-dark: #1c0b43;

$grey: #9ba9bb;
$grey-light: #e0e4ea;
$grey-dark: #323c47;

// BREAKPOINTS
// -------------------------
$bp-sm: 768px;
$bp-xs: 576px;
$bp-md: 992px;
$bp-lg: 1200px;