<template lang="pug">
  section.home
    app-header
    app-demo
    app-phone
    app-info
    app-footer
</template>

<script>
  const Header = () => import('../partials/Header.vue')
  const Demo = () => import('../partials/Demo.vue')
  const Phone = () => import('../partials/Phone.vue')
  const Info = () => import('../partials/Info.vue')
  const Footer = () => import('../partials/Footer.vue')

  export default {
    name: 'home',
    components: {
      appHeader: Header,
      appDemo: Demo,
      appPhone: Phone,
      appInfo: Info,
      appFooter: Footer
    }
  }
</script>

<style lang="scss" scoped>
  //
</style>
