<template lang="pug">

  section.demo
    .container

      .demo__nav.grid.grid-bleed
        .col-12( style="text-align: right" )
          a.demo__link( href="#" )
            | в каталог демо-версий

      .demo__caption.grid.grid-bleed
        .col-12
          h2.demo__title
            | Demo taxi
      
      .demo__main.grid.grid-bleed.justify-space-between
        // COLUMN PRIMARY
        .col-lg-4.demo__primary
          h3.demo__subtitle
            | Принцип работы
          p.demo__promo
            | Это робот-диспетчер, собранный на технологиях Voximplant, сможет принять заказ любого клиента, поймет, куда подать машину, во сколько, каково место назначения, а также распознаст такие места, как: дом, работа или название ресторана.
        // COLUMN SECONDARY
        .col-lg-7.demo__secondary
          .grid.grid-bleed
            .col-sm-4.card
              figure.card__icon
                img( src="../../assets/icon-card-01.png" )
              p.card__content
                | Клиент оформляет заявку на сайте
              img.card__arrow( src="../../assets/icon-arrow.png" )
            .col-sm-4.card
              figure.card__icon
                img( src="../../assets/icon-card-02.png" )
              p.card__content
                | Робот перезванивает таксисту
              img.card__arrow( src="../../assets/icon-arrow.png" )
            .col-sm-4.card
              figure.card__icon
                img( src="../../assets/icon-card-03.png" )
              p.card__content
                | Не более 2 минут, между обращением клиента и связью с таксистом

      .demo__goto.grid.grid-bleed
        .col-12.demo__wrapper
          figure.demo__icon
            img( src="../../assets/icon-goto.png" )
          router-link.demo__link( :to="link" )
            | перейти к демонстрации

</template>

<script>
  export default {
    name: 'demo',
    data () {
      return {
        link: {
          hash: '#info'
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/base.scss';
  
  .demo {
    padding: 40px 0 200px;
    background-color: $white;

    &__secondary {
      padding-top: 60px;
    }

    &__title {
      color: $blue-dark;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.175;
      margin: 0;
    }

    &__subtitle {
      color: $blue-dark;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.469;
      margin: 0 0 30px 0;
    }

    &__caption {
      margin-bottom: 30px;
    }

    &__promo {
      color: $blue-dark;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.75;
      margin: 0;
    }

    &__nav {
      margin-bottom: 140px;
    }

    &__main {
      margin-bottom: 50px;
    }

    & .card {
      padding: 10px 160px 10px 10px;
      position: relative;

      &__icon {
        width: 100%;
        height: 90px;
        margin: 0 0 14px 0;
      }

      &__content {
        color: $blue-light;
        font-size: 0.75rem;
        line-height: 1.5;
        margin: 0;
      }

      &__arrow {
        width: 84px;
        height: 8px;
        position: absolute;
        top: 20%;
        left: 60%;
      }
    }

    &__wrapper {
      @include centering;
    }

    &__icon {
      margin-right: 25px;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: $blue-light;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.167;
    }

  }

</style>

