<template lang="pug">
  footer.footer
    .container
      .grid.grid-bleed.justify-space-between
        .col-sm-4.footer__logo
          img.footer__icon( src="../../assets/icon-footer.png" )
          a.footer__link( href="#" )
            | voximplant
        .col-sm-4.footer__address
          p.footer__text
            | Zingaya, Inc. #[br] 2225 East Bayshore Road, Palo Alto, #[br] CA 94303-3220
</template>

<script>
  export default {
    name: 'footer'
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/base.scss';
  
  .footer {
    padding: 45px 0;
    border-top: 1px solid $grey-light;

    &__logo {
      @include centering;
    }

    &__icon {
      margin-right: 6px;
    }

    &__link {
      color: $blue;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &__text {
      color: $grey;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.143;
      margin: 0;
    }
  }

</style>

