<template lang="pug">
  
  header.header
    .container
      .grid.grid-bleed
        .col-12.header__center
          img.header__icon( src="../../assets/icon-header.png" )
          a.header__link( href="/" )
            | voximplant

</template>

<script>
  export default {
    name: 'header'
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/base.scss';

  .header {
    background-color: $blue-dark;
    padding: 26px 0;

    &__center {
      @include centering;
    }

    &__icon {
      margin-right: 6px;
    }

    &__link {
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

</style>
