<template lang="pug">
  
  section.info#info
    .container
      
      .grid.justify-space-between.grid-bleed
        // COLUMN PRIMARY
        .col-md-6
          h2.info__title
            | Cтатус: название статуса
          table.info__table
            tbody
              tr
                td
                  | когда
                td
                  | 18:00
              tr
                td
                  | откуда
                td
                  | Улица академика Королева, 25, подъезд 7
              tr
                td
                  | куда
                td
                  | Улица Туполева, 3
              tr
                td
                  | тариф
                td
                  | Эконом
              tr
                td
                  | комментарий
                td
        // COLUMN SECONDARY
        .col-md-5
          h2.info__title
            | Любимые адреса
          table.info__table
            tbody
              tr
                td
                  | адрес 1
                td
                  | Улица Карла Маркса, дом 7, подъезд 2
              tr
                td
                  | работа
                td
                  | Улица академика Королева, 25, подъезд 7
              tr
                td
                  | дом
                td
                  | Улица Туполева, дом 3
              tr
                td
                  | петровы
                td
                  | Улица Иванова, дом 7
      // SECTION DOWNLOAD
      .grid.grid-bleed
        .col-12
          h3.info__subtitle
            | Ссылки:
          section.info__wrapper
            a.info__link( href="#" )
              | запись разговора
            img.info__icon( src="../../assets/icon-download.png" )

</template>

<script>
  export default {
    name: 'info'
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/base.scss';

  .info {
    padding: 80px 0;
    background-color: $white;

    &__title {
      color: $blue-dark;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.469;
      margin: 0 0 50px 0;
    }

    &__subtitle {
      color: $blue-dark;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      margin: 0 0 16px 0;
    }

    &__wrapper {
      @include centering;
    }

    &__link {
      text-transform: uppercase;
      color: $blue;
      font-size: 0.75rem;
      font-weight: 500;
    }

    &__icon {
      margin-left: 7px;
    }

    // TABLE
    &__table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      margin-bottom: 80px;

      & tr td {
        font-size: 1rem;
        // line-height: 0.875;
        line-height: 1.4;
        padding: 26px 0 10px 0;
        border-bottom: 1px solid $grey;
        vertical-align: middle;

        &:nth-child(odd) {
          text-transform: uppercase;
          font-family: $secondary-font;
          color: $grey-dark;
          font-weight: 500;
        }

        &:nth-child(even) {
          color: $blue-dark;
          font-weight: 400;
        }

      }
    }
  }

</style>

