<template lang="pug">
  
  section.phone
    .container
      .grid.justify-center
        .col-md-5.col-bleed
          h2.phone__title
            | Введите номер телефона
          form.phone__form
            the-mask.phone__input( mask="+7-###-###-####", v-model="phoneNumber", type="tel", id="phone", placeholder="+7-___-___-____", required )
            button.phone__button( type="button", name="send", id="send", @click="onSend()" )
              | отправить

</template>

<script>
  import { TheMask } from 'vue-the-mask'
  export default {
    name: 'phone',
    components: {
      TheMask
    },
    data () {
      return {
        phonePrefix: '+7',
        phoneNumber: null
      }
    },
    methods: {
      onSend () {
        if (this.phoneNumber.length < 10 || this.phoneNumber === null) {
          alert('Введите правильный номер телефона')
        } else {
          const fullPhoneNumber = this.phonePrefix + this.phoneNumber
          console.log(fullPhoneNumber)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/base.scss';
  
  .phone {
    background-color: $blue-light;
    padding: 160px 0 140px;

    &__title {
      margin: 0 0 60px 0;
      color: $white;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.469;
      display: flex;
      justify-content: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input {
      margin-bottom: 60px;
      width: 100%;
      background-color: transparent;
      padding: 15px 5px;
      border-width: 0 0 1px 0;
      border-style: none none solid none;
      border-color: transparent transparent $white transparent;
      font-size: 1rem;
      font-weight: 500;
      font-family: $secondary-font;
      line-height: 1;
      color: $white;
      
      @include input-placeholder {
        color: $white;
        font-size: 1rem;
        font-weight: 500;
        background-color: transparent;
      }

      &:focus {
        outline: none;
      }
    }

    &__button {
      border-radius: 4px;
      background-color: $white;
      padding: 20px 40px 18px 40px;
      color: $blue-light;
      font-size: 0.75rem;
      font-weight: 500;
      font-family: $secondary-font;
      line-height: 1.167;
      text-transform: uppercase;
    }
  }

</style>

