<template lang="pug">
  #app
    router-view
</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style lang="scss">
  @import './styles/base.scss';
  body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-weight: 400;
  }
</style>
